<footer id="footer">
  &copy; Universitat Oberta de Catalunya
  <p>Sara Candelario Peña</p>

  <div class="footer__social">
    <a href="" target="_blank" rel="noopener noreferrer" aria-label="Facebook"> <!--para abrir en una nueva pestaña, mejorar la accesib. y seguridad-->
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a href="" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="" target="_blank" rel="noopener noreferrer" aria-label="TikTok">
      <i class="fa-brands fa-tiktok"></i>
  </div>
</footer>
